<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-4">
                <div class="brand text-white mb-4">
                    <h1 class="fw-bold text-white text-uppercase m-0">Rosita</h1>
                    <div class="small">Unique Care Foundation</div>
                </div>
                <!-- <h1 class="fw-bold text-white mb-4">Chari<span class="text-white">Team</span></h1> -->
                <p>Rosita Unique Care Foundation (RUCF) was set up as a result of the endemic levels of vulnerability observed among vulnerable groups in society. This group includes children, youth, widows and other women in the society.</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square me-1" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <h5 class="text-light mb-4">Contact Us</h5>
                <p class="d-flex justify-content-start"><i class="fa fa-map-marker-alt me-3"></i>
                    <span>Opposite Community Secondary School,<br>Ibeafor Road,<br>Ezenaobom Umunumo, Ehime Mbano L.G.A.<br>Imo State, Nigeria.</span>
                </p>
                <p><i class="fa fa-phone-alt me-3"></i> <a href="tel:+2348037946511" class="text-white">(+234) 803 794 6511</a> </p>
                <p><i class="fa fa-envelope me-3"></i><a href="mailto:ucare.foundation@yahoo.com" class="text-white">ucare.foundation@yahoo.com</a></p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h5 class="text-light mb-4">Quick Links</h5>
                <a class="btn btn-link" routerLink="/about-us">Who We Are</a>
                <a class="btn btn-link" routerLink="/what-we-do">What We Do</a>
                <a class="btn btn-link" routerLink="/contact">Contact Us</a>
                <a class="btn btn-link" routerLink="/donate">Donate</a>
                <a class="btn btn-link" routerLink="/media">Media</a>
                <a class="btn btn-link" href="https://blog.rositauniquecarefoundation.org" target="_blank">Our Blog</a>
            </div>
            <!-- <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">Newsletter</h5>
                <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                </div>
            </div> -->
        </div>
    </div>
    <div class="container-fluid copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    Copyright &copy; {{today | date:'Y'}} <a routerLink="/">Rosita Unique Care Foundation</a>. All Rights Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end" style="font-size: 10px;">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Crafted with <span class="text-danger">&#10084;</span> by <a href="https://bloomnet.com.ng">Bloomnet</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->