.navbar-brand {
    h1 {
        font-size: 40px;
    }
    .small {
        font-size: 16px;
    }
}

.top-bar {
    a {
        color: white!important;
        text-decoration: none!important;
    }
}