<app-navbar></app-navbar>

<app-page-header [title]="'About Us'" link="About Us"></app-page-header>

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100 pt-5 pe-5" src="./assets/img/child-at-back.avif" alt="" style="object-fit: cover;">
                    <img class="position-absolute top-0 end-0 bg-white ps-2 pb-2" src="./assets/img/child-smiling.jpg" alt="" style="width: 200px; height: 200px; object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">About Us</div>
                    <h3 class="mb-5">Rosita Unique Care Foundation (RUCF) was set up as a result of the endemic levels of vulnerability observed among vulnerable groups in the society.</h3>
                    <!-- <div class="bg-light border-bottom border-5 border-primary rounded p-4 mb-4">
                        <p class="text-dark mb-2">Aliqu diam amet diam et eos. Clita erat ipsum et lorem sed stet lorem sit clita duo justo erat amet</p>
                        <span class="text-primary">Jhon Doe, Founder</span>
                    </div> -->
                    <h5 class="mb-5 fw-light">
                        This group includes children, youth, widows and other women in the society. She has this group as her main population of interest. RUCF commenced on 8th August 2007 as a humanitarian, not-for-profit, nongovernmental community based organization, and has
                        her office located along Ibeafor Road, Ezenaobom Umunumo, Ehime Mbano Local Government Area of Imo State in Nigeria.
                    </h5>
                    <h5 class="mb-5 fw-light">
                        We are registered with the Imo State Ministry of Women Affairs and Social Development with certificate number 0055, and also registered with the Corporate Affairs Commission with registration number, 052339.
                    </h5>

                    <h5 class="mb-5 fw-light">
                        Rosita Unique Care Foundation has a five-man Board of Trustees that formulates policies, but the day-to-day operation of the organization is managed by the officers of the organization led by the Improvement Manager under the supervision of the Executive
                        Director. The current staff strength is eight, made up of regular and part-time staff with thirty-three dedicated volunteers.
                    </h5>

                    <div class="d-flex">
                        <a class="btn btn-outline-primary py-2 px-3 small" routerLink="/contact">
                            Contact Us
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<hr>
<!-- Mission Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp order-1 order-md-2" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100 pt-5" src="./assets/img/mission.png" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp order-2 order-md-1" data-wow-delay="0.5s">
                <div class="h-100">
                    <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Mission</div>
                    <h1 class="mb-5">Our Mission</h1>

                    <p class="mb-5">
                        To empower vulnerable children, youths and women through information and economic strengthening in collaboration with relevant stakeholders and donor agencies.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mission End -->
<hr>

<!-- Vision Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp order-1 order-md-2" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100 pt-5" src="./assets/img/vision.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp order-1 order-md-2" data-wow-delay="0.5s">
                <div class="h-100">
                    <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Vision</div>
                    <h1 class="mb-5">Our Vision</h1>

                    <p class="mb-5">
                        A society free from diseases and social vices where vulnerable children are supported and women empowered economically.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vision End -->
<hr>

<!-- Values Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp order-1 order-md-2" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100 pt-5" src="./assets/img/values.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp order-2 order-md-1" data-wow-delay="0.5s">
                <div class="h-100">
                    <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Values</div>
                    <h1 class="mb-5">Our Core Values</h1>

                    <p class="mb-5">
                        Rosita Unique Care Foundation has certain well thought out values which include:
                    </p>
                    <ul>
                        <li>Commitment </li>
                        <li>Integrity </li>
                        <li>Accountability </li>
                        <li>Accountability</li>
                        <li>Team spirit</li>
                        <li>Honesty</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Values End -->


<!-- Values Start -->
<div class="container-xxl bg-light py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="overflow-hidden h-100">
                    <h1>Our Objectives</h1>
                </div>
            </div>
            <hr>
            <div class="col-lg-6 col-md-3 wow fadeInUp" data-wow-delay="0.5s" *ngFor="let item of objectives;">
                <div class="card" style="border-left: 10px solid var(--primary); font-size: 18px;">
                    <div class="card-body">
                        <div>{{item}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Values End -->

<app-footer></app-footer>