<app-navbar></app-navbar>

<app-page-header title="What We Do" link="What We Do"></app-page-header>

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">What We Do</div>
            <h1 class="display-6 mb-5">Learn More About What We Do And Get Involved</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                    <img class="img-fluid mb-4" src="./assets/img/carousel-1.jpg" style="height: 200px; object-fit: cover;" alt="">
                    <h4 class="mb-3">Child Education</h4>
                    <p class="mb-4">We sponsor and organize programmes and award scholarships for the development of the education of orphans, youths, young widows and other vulnerable groups in the society</p>
                    <a class="btn btn-outline-primary px-3" routerLink="/donate">
                            Donate Now
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                    <img class="img-fluid mb-4" src="./assets/img/rural-women.jpg" style="height: 200px; object-fit: cover;" alt="">
                    <h4 class="mb-3">Rural Women Empowerment</h4>
                    <p class="mb-4">We promote rural widows, indigent women and caregivers empowerment through micro-credit facilities.</p>
                    <a class="btn btn-outline-primary px-3" routerLink="/donate">
                            Donate Now
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                    <img class="img-fluid mb-4" src="./assets/img/african-girls.jpg" style="width: 100%; height: 200px; object-fit: cover;" alt="">
                    <h4 class="mb-3">Gender-Based Violence</h4>
                    <p class="mb-4">Stimulating and strengthening communities to prevent/respond to Gender Based Violence and Violence against women and girls. </p>
                    <a class="btn btn-outline-primary px-3" routerLink="/donate">
                            Donate Now
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<app-footer></app-footer>